.teamBox {
  display: flex;
  min-height: 30vh;
  border: 2px solid var(--subheading);

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  .localTeams {
    width: 40%;
    border-right: 2px solid var(--subheading);
  }

  h3 {
    color: var(--subheading);
  }

  > * {
    margin-left: 20px;
  }
}

.teamButton {
  font-weight: 600;
}

.wormCount {
  ul {
    margin: none;
    padding: 0;
    width: 4.6em;
  }
  li {
    display: inline;
    list-style: none;
    float: left;
  }
}
.teamEntry {
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  > * {
    display: block;
  }
  button {
    border: 1px solid white;
    background: none;
  }

  > span {
    margin-top: auto;
    height: fit-content;
    margin-bottom: auto;
  }

  .playerName {
    color: var(--subheading);
  }

  .removeTeam {
    /* TODO: Rethink this colour reuse. */
    background: var(--team-red-bg);
  }
}

.teamColor {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border: 1px solid white;
}

section {
  margin-bottom: 2em;
}

.controlGrid {
  display: grid;
  gap: 40px;
  grid-template-columns: 50% 50%;
  width: 66vw;
}
