.menu {
  margin-top: 5vh;
  color: var(--text);
  display: relative;
  position: absolute;
  width: 100%;

  > menu {
    min-width: 33vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

p {
  font-size: 1.25em;
}

button {
  margin-left: 0.25em;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.borealis {
  background: repeating-linear-gradient(
    45deg,
    #289ad6,
    #289ad6 10px,
    #e27a00 10px,
    #e27a00 20px,
    #31358e 20px,
    #31358e 30px
  );
  font-weight: 600;
  color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.betaWarning {
  border: 2px solid var(--highlight);
  border-radius: 4px;
  padding: 1em;

  span {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    width: fit-content;
  }
}

.mainMenu {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: fit-content;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0;
  list-style: none;
}

.mainMenu button {
  font-size: 1.5em;
  width: 12em;
  color: var(--bg);
}

.error {
  padding: 1em;
  border: 1px solid var(--highlight);
  background: grey;
  color: rgb(255, 77, 77);
}

button.videoButton {
  border: none;
  background-color: var(--links);
  padding: 0.1em;
  cursor: pointer;
  width: 15vw;
  > video {
    pointer-events: none;
    border-radius: 1em;
    width: 100%;

    &:disabled {
      filter: grayscale(100%);
    }
  }
  > span {
    margin-top: 0.5em;
    padding: 0.1em;
    pointer-events: none;
    width: 15vw;
    position: absolute;
    display: inline;
    background: rgba(0, 0, 0, 0.34);
    border-radius: 1em;
    font-weight: 600;
    color: var(--highlight);
  }
}

button.videoButton:hover > video {
  filter: none;
}
