.menu {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  min-width: 33vw;
}

p {
  font-size: 1.25em;
}

button {
  margin-left: 0.25em;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.borealis {
  background: repeating-linear-gradient(
    45deg,
    #289ad6,
    #289ad6 10px,
    #e27a00 10px,
    #e27a00 20px,
    #31358e 20px,
    #31358e 30px
  );
  font-weight: 600;
  color: white;
}

h1 {
  font-size: 2.5em;
}

.levelPicker button {
  font-size: 1.5em;
}

li {
  margin-bottom: 2em;
  list-style: none;
}

.error {
  padding: 1em;
  border: 1px solid black;
  background: grey;
  color: rgb(255, 77, 77);
}
